/* React H5 Audio Player Style Overrides */
.rhap_container {
  background-color: #ececec;
  box-shadow: none;
  padding: 0;
}

.rhap_container:focus,
.rhap_main:focus,
.rhap_progress-container:focus {
  outline: none;
}

.rhap_container svg {
  color: #fff;
  background-color: #3d3d3d;
  border-radius: 50%;
  font-size: 26px;
}

.rhap_download-progress,
.rhap_progress-filled {
  background-color: #fff;
}

.rhap_time {
  color: #3d3d3d;
  font-size: 14px;
}

.rhap_progress-indicator {
  background-color: #3d3d3d;
}

.rhap_controls-section {
  flex: 0;
}
